#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 25px;
  transition: border-color 0.3s ease-in-out;
  background-color: thistle;
  font-family: 'Noto Serif', serif;
}
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
  
}
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
#login-form input:focus {
  border-color: whitesmoke;
}
#login-form input[type="submit"] {
  background-color: whitesmoke;
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
  border:none;
  font-family: 'Noto Serif', serif;
}
#login-form input[type="submit"]:focus{box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);}
#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  
}
.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
}
@keyframes Welcome{
  from{opacity:0;} to{opacity:2;}

}.welcome-header__title {
  margin-bottom: 20px;
font-size: 45px;animation:Welcome 1s ease-in-out;
text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);}
.welcome-header__text{width: 60%;
opacity: 0.7;
font-size:20px;

display:block;
padding:5px 0px;
margin-top:10px;
border-radius: 10px;
text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

#login-form a:hover{transform:scale(1.2)}
